* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.kapsayici {
  display: grid;
  grid-template-columns: 80px 1fr 100px;
  align-items: center;
  gap: 50px;
}
.grafik {
  border: 1px solid black;
  height: 30px;
  border-radius: 20px;
  overflow: hidden;
}
.oran {
  height: inherit;
  background-color: hotpink;
}
